#map {
    height: 100%;
}



body {
    padding: 0;
    margin: 0;
}

.info {
    padding: 6px 8px;

    font: 14px/16px Arial, Helvetica, sans-serif;
    background: #691831;
    color: #DDC9A3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    font: 14px/16px Arial, Helvetica, sans-serif;
    margin: 0 0 5px;
    color: white;
    font-weight: bold;
}

.info h5 {
    font: 14px/16px Arial, Helvetica, sans-serif;
    margin: 0 0 5px;
    color: black;
    font-weight: bold;
}

.legend {
    line-height: 18px;
    background: rgba(255, 255, 255, 0.7);
    color: black;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.popup {
    background-color: #691c32;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
}

.popup__title {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}

.popup__text {
    margin: 5px 0;
}



.home-section {
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}


@media screen and (max-width: 400px) {
    .sidebar {
        width: 240px;
    }

    .sidebar.close {
        width: 78px;
    }

    .sidebar .profile-details {
        width: 240px;
    }

    .sidebar.close .profile-details {
        background: none;
    }

    .sidebar.close .profile-details {
        width: 78px;
    }

    .home-section {
        left: 240px;
        width: calc(100% - 240px);
    }

    .sidebar.close~.home-section {
        left: 78px;
        width: calc(100% - 78px);
    }
}